body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: white;
}

.hero img {
    height: 30vh;
    width: 100vw;
    object-fit: cover;
    /* filter: brightness(60%); */
}

.hero {
    border-radius: 0px 0px 5px 5px;
    overflow: hidden;
}

.card-img-overlay {
    height: 30vh;
}

textarea {
    resize: none;
}

.right-info {
    text-align: right;
}

.weather-icon {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 10px;
}

.hidden {
    display: none;
}

.light-theme {
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #347aca 74%);
    color: black;
}

.dark-theme {
    background-color: #090947;
    background-image: linear-gradient(315deg, #090947 0%, #5a585a 74%);    
    color: white;
}

.modal-title {
    color: black;
}