.carousel-item {
    background-color: rgb(0, 128, 255) !important;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

.carousel-item h5 {
    color: rgb(0, 0, 0);
    text-align: center;
}

.carousel-item img {
    margin: 20px;
    height: 20vh;
    width: 90%;
    object-fit: cover;
    border-radius: 5px;
}

.carousel-item p {
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.time-input {
    margin-bottom: 50px !important;
}
